Milesight/AM103_L_ModbusTCP
[{"id":"c1c47cc4.0bfe78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee16f661.f8692","type":"switch","z":"c1c47cc4.0bfe78","name":"","property":"deveui","propertyType":"msg","rules":[{"t":"eq","v":"24e124725d243990","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":60,"wires":[["db2d6fdc.7964c"]]},{"id":"6bebe290.4c76ec","type":"modbus-flex-write","z":"c1c47cc4.0bfe78","name":"","showStatusActivities":false,"showErrors":false,"server":"2043f56b.c0f832","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1470,"y":240,"wires":[[],[]]},{"id":"69a74d33.640b84","type":"comment","z":"c1c47cc4.0bfe78","name":"TEST","info":"","x":1850,"y":240,"wires":[]},{"id":"a5b00aa5.5c84c8","type":"LoRa Input","z":"c1c47cc4.0bfe78","name":"","devEUI":"","extendedField":"","x":120,"y":60,"wires":[["ee16f661.f8692"]]},{"id":"9f941670.9f024","type":"split","z":"c1c47cc4.0bfe78","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"value","x":890,"y":240,"wires":[["404dc2a1.452734"]]},{"id":"db2d6fdc.7964c","type":"change","z":"c1c47cc4.0bfe78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"object","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":240,"wires":[["9f941670.9f024"]]},{"id":"404dc2a1.452734","type":"delay","z":"c1c47cc4.0bfe78","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":240,"wires":[["6f25b25a.2fe16c"]]},{"id":"6f25b25a.2fe16c","type":"function","z":"c1c47cc4.0bfe78","name":"AM103+L","func":"var UNIT = 1;\n\nlet address = 0;\n\nif(msg.value == \"battery\") {\n    address = 1;\n    msg.payload = msg.payload*10;\n}\n\nif(msg.value == \"co2\") address = 2;\n\nif(msg.value == \"humidity\") {\n    address = 3;\n    msg.payload = msg.payload*10;\n}\n\nif(msg.value == \"temperature\") {\n    address = 4;\n    msg.payload = msg.payload*10;\n}\n\n\n\nmsg.payload = { \n    'value': msg.payload, \n    'fc': 6, \n    'unitid': UNIT, \n    'address': address,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":240,"wires":[["6bebe290.4c76ec"]]},{"id":"7245f064.c0f66","type":"modbus-queue-info","z":"c1c47cc4.0bfe78","name":"","topic":"","unitid":1,"queueReadIntervalTime":1000,"lowLowLevel":25,"lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"2043f56b.c0f832","errorOnHighLevel":false,"showStatusActivities":true,"updateOnAllQueueChanges":false,"updateOnAllUnitQueues":false,"x":1690,"y":240,"wires":[[]]},{"id":"2043f56b.c0f832","type":"modbus-client","name":"JACE","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.23.10","tcpPort":"5021","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"0","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false}]
