SC_Nordic/Flow
[{"id":"7dbb1f19.0d8428","type":"subflow","name":"Subflow 4 (3)","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"fbb9f648.e8cdb","type":"mqtt in","z":"7dbb1f19.0d8428","name":"","topic":"${heartbeatTopic}","qos":"0","datatype":"auto","broker":"b700a1d5.e877","x":200,"y":80,"wires":[["7fd2e9ff.c2d188"]]},{"id":"ffb053f.fe46bb","type":"mqtt out","z":"7dbb1f19.0d8428","name":"","topic":"${aliveTopic}","qos":"1","retain":"false","broker":"b700a1d5.e877","x":830,"y":160,"wires":[]},{"id":"2f6786a5.1ea4c2","type":"function","z":"7dbb1f19.0d8428","name":"","func":"var date = new Date();\nvar time = date.toISOString();\n\nmsg.payload = {\n    \"timeStamp\": time\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":160,"wires":[["ffb053f.fe46bb"]]},{"id":"7fd2e9ff.c2d188","type":"trigger","z":"7dbb1f19.0d8428","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":80,"wires":[["35c0643e.427874"]]},{"id":"faeb526e.9c18d","type":"modbus-flex-write","z":"7dbb1f19.0d8428","name":"","showStatusActivities":false,"showErrors":false,"server":"2043f56b.c0f832","emptyMsgOnFail":false,"keepMsgProperties":false,"x":850,"y":80,"wires":[[],[]]},{"id":"7a25b1bb.e98898","type":"modbus-queue-info","z":"7dbb1f19.0d8428","name":"","topic":"","unitid":"${modbusAdd}","queueReadIntervalTime":"500","lowLowLevel":25,"lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"2043f56b.c0f832","errorOnHighLevel":false,"showStatusActivities":true,"updateOnAllQueueChanges":false,"updateOnAllUnitQueues":false,"x":1090,"y":120,"wires":[[]]},{"id":"35c0643e.427874","type":"function","z":"7dbb1f19.0d8428","name":"Modbus","func":"var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': msg.payload, \n    'fc': 5, \n    'unitid': UNIT, \n    'address': 1,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[["faeb526e.9c18d"]]},{"id":"9b8dc8a2.1a768","type":"modbus-read","z":"7dbb1f19.0d8428","name":"Alive","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"${modbusAdd}","dataType":"InputRegister","adr":"2","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":230,"y":160,"wires":[["859493d3.b57fa8"],[]]},{"id":"859493d3.b57fa8","type":"rbe","z":"7dbb1f19.0d8428","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":160,"wires":[["2f6786a5.1ea4c2"]]},{"id":"b700a1d5.e877","type":"mqtt-broker","name":"","broker":"mqtt.scnordic.com","port":"1886","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2043f56b.c0f832","type":"modbus-client","name":"JACE","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.23.10","tcpPort":"5021","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"0","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"958f9ab7.f61268","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"90d2b1e7.3a0408","type":"subflow:7dbb1f19.0d8428","z":"958f9ab7.f61268","name":"Heartbeat","env":[{"name":"heartbeatTopic","value":"COOP/heartbeat","type":"str"},{"name":"aliveTopic","value":"LT/alive","type":"str"},{"name":"modbusAdd","value":"100","type":"num"}],"x":280,"y":180,"wires":[],"icon":"font-awesome/fa-heartbeat","info":"## SC Controller would publish heartbeat at an interval of less than 1 minute.\n\n - Topic: {customer_code}/heartbeat\n - Message: `{\"timeStamp\": \"2023-07-03T09:57:20.480441Z\"} (UTC)`\n\n## Client system should publish a heartbeat at an interval of less than 1 minute.\n - Topic: {customer_code}/alive\n - Message: `{\"timeStamp\": \"2023-07-03T09:57:20.480441Z\"} (UTC)`"},{"id":"ccd9b31d.e33ad8","type":"mqtt in","z":"958f9ab7.f61268","name":"","topic":"LT/activation/write","qos":"0","datatype":"json","broker":"b700a1d5.e877","x":250,"y":300,"wires":[["ef8b4225.095c8"]]},{"id":"7832b0af.9b9608","type":"modbus-flex-write","z":"958f9ab7.f61268","name":"","showStatusActivities":false,"showErrors":false,"server":"2043f56b.c0f832","emptyMsgOnFail":false,"keepMsgProperties":false,"x":950,"y":2200,"wires":[[],[]]},{"id":"4cc0abd9.a7f08c","type":"modbus-read","z":"958f9ab7.f61268","name":"Dev1","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"101","dataType":"Coil","adr":"11","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1420,"wires":[["89fe2a86.410188","1e930d03.e9975b"],[]]},{"id":"1e52b44e.b320ac","type":"mqtt out","z":"958f9ab7.f61268","name":"","topic":"LT/activation/reply","qos":"0","retain":"false","broker":"b700a1d5.e877","x":750,"y":300,"wires":[]},{"id":"e38505c9.5dc92","type":"modbus-queue-info","z":"958f9ab7.f61268","name":"","topic":"","unitid":"${modbusAdd}","queueReadIntervalTime":"500","lowLowLevel":25,"lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"2043f56b.c0f832","errorOnHighLevel":false,"showStatusActivities":true,"updateOnAllQueueChanges":false,"updateOnAllUnitQueues":false,"x":1170,"y":2200,"wires":[[]]},{"id":"ef8b4225.095c8","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"reply","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["1e52b44e.b320ac"]]},{"id":"a0706d9.3a93f1","type":"mqtt in","z":"958f9ab7.f61268","name":"","topic":"LT/start/write","qos":"0","datatype":"json","broker":"b700a1d5.e877","x":270,"y":740,"wires":[["aec0d7c9.6bef","3221bc66.b2b7bc","2aa9b76d.8ca9","91131bcb.4f6e28"]]},{"id":"cdf5117c.cc28c8","type":"mqtt out","z":"958f9ab7.f61268","name":"","topic":"LT/start/reply","qos":"0","retain":"false","broker":"b700a1d5.e877","x":1250,"y":840,"wires":[]},{"id":"aec0d7c9.6bef","type":"switch","z":"958f9ab7.f61268","name":"","property":"payload.devices","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"num"},{"t":"cont","v":"2","vt":"num"},{"t":"cont","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":740,"wires":[["a3958e6e.2d90b"],["adc359f4.941128"],["e8d51de5.410ce"]]},{"id":"a3958e6e.2d90b","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.command","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"Dev1.step","pt":"flow","to":"payload.step","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":680,"wires":[[]]},{"id":"adc359f4.941128","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev2.command","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"Dev2.step","pt":"flow","to":"payload.step","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":720,"wires":[[]]},{"id":"e8d51de5.410ce","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev3.command","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"Dev3.step","pt":"flow","to":"payload.step","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":760,"wires":[[]]},{"id":"3221bc66.b2b7bc","type":"delay","z":"958f9ab7.f61268","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":840,"wires":[["ee906dd7.a4b4d"]]},{"id":"734a8454.553e94","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.status","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1400,"wires":[[]]},{"id":"89fe2a86.410188","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":1400,"wires":[["734a8454.553e94"]]},{"id":"834db7d0.a6c6c8","type":"function","z":"958f9ab7.f61268","name":"Modbus","func":"//var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': flow.get(\"Dev1.command\"), \n    'fc': 5, \n    'unitid': 101, \n    'address': 10,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2060,"wires":[["d19585aa.2ae348"]]},{"id":"6e9578ec.ba931","type":"modbus-read","z":"958f9ab7.f61268","name":"Dev2","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"101","dataType":"Coil","adr":"21","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1560,"wires":[["df421fb8.68d36","6bc950.ce644eb"],[]]},{"id":"b8894c8f.208568","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev2.status","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1540,"wires":[[]]},{"id":"df421fb8.68d36","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":1540,"wires":[["b8894c8f.208568"]]},{"id":"5f57fc63.5a8d94","type":"modbus-read","z":"958f9ab7.f61268","name":"Dev3","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"101","dataType":"Coil","adr":"31","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1720,"wires":[["478a27be.44d3f8","ce4a7bf1.901eb"],[]]},{"id":"634f6842.3a35a8","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev3.status","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1700,"wires":[[]]},{"id":"478a27be.44d3f8","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":1700,"wires":[["634f6842.3a35a8"]]},{"id":"2e9a5352.41939c","type":"inject","z":"958f9ab7.f61268","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":2200,"wires":[["834db7d0.a6c6c8","a533151e.9a5c4","6cbf7a6.f772604","61446f9.f19e89","cfd51e99.72b4e","c4cb4af9.17ead"]]},{"id":"d19585aa.2ae348","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":2060,"wires":[["7832b0af.9b9608"]]},{"id":"294c4002.30b83","type":"inject","z":"958f9ab7.f61268","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":80,"wires":[["63affdb2.3969ec"]]},{"id":"63affdb2.3969ec","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev2.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev3.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev1.step","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"Dev2.step","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"Dev3.step","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[[]]},{"id":"2aa9b76d.8ca9","type":"delay","z":"958f9ab7.f61268","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":680,"wires":[["213fc1c1.0c9bee"]]},{"id":"213fc1c1.0c9bee","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev2.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev3.command","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[[]]},{"id":"ee906dd7.a4b4d","type":"function","z":"958f9ab7.f61268","name":"","func":"var status = [];\n\nif(flow.get(\"Dev1.status\")){\n    if(flow.get(\"Dev1.stepStatus\") == msg.payload.step){\n        status.push(1);\n    }\n}\n\nif(flow.get(\"Dev2.status\")){\n    if(flow.get(\"Dev2.stepStatus\") == msg.payload.step){\n        status.push(2);\n    }\n}\n\nif(flow.get(\"Dev3.status\")){\n    if(flow.get(\"Dev3.stepStatus\") == msg.payload.step){\n        status.push(3);\n    }\n}\n\n\n\nmsg.devStatus = status;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":840,"wires":[["5cabce50.f119a8","dfcd8221.5f54e8"]]},{"id":"5cabce50.f119a8","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"reply","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload.devices","pt":"msg","to":"devStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":840,"wires":[["cdf5117c.cc28c8"]]},{"id":"27b44722.5c0978","type":"mqtt in","z":"958f9ab7.f61268","name":"","topic":"LT/stop/write","qos":"0","datatype":"json","broker":"b700a1d5.e877","x":270,"y":1100,"wires":[["1f6ea8ea.597797","98506e52.86a8b"]]},{"id":"b81e3b6e.4016b8","type":"mqtt out","z":"958f9ab7.f61268","name":"","topic":"LT/stop/reply","qos":"0","retain":"false","broker":"b700a1d5.e877","x":1250,"y":1200,"wires":[]},{"id":"1f6ea8ea.597797","type":"switch","z":"958f9ab7.f61268","name":"","property":"payload.devices","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"num"},{"t":"cont","v":"2","vt":"num"},{"t":"cont","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":1100,"wires":[["183f4696.c4c6f9"],["e6923bd6.ad491"],["96ca7ee3.33bf48"]]},{"id":"183f4696.c4c6f9","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev1.step","pt":"flow","to":"payload.step","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1040,"wires":[[]]},{"id":"e6923bd6.ad491","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev2.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev2.step","pt":"flow","to":"payload.step","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1080,"wires":[[]]},{"id":"96ca7ee3.33bf48","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev3.command","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"Dev3.step","pt":"flow","to":"payload.step","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1120,"wires":[[]]},{"id":"98506e52.86a8b","type":"delay","z":"958f9ab7.f61268","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1200,"wires":[["71f40da2.ec7b34"]]},{"id":"71f40da2.ec7b34","type":"function","z":"958f9ab7.f61268","name":"","func":"var status = [];\n\nif(!flow.get(\"Dev1.status\")){\n    if(flow.get(\"Dev1.stepStatus\") == msg.payload.step){\n        status.push(1);\n    }\n}\n\nif(!flow.get(\"Dev2.status\")){\n    if(flow.get(\"Dev2.stepStatus\") == msg.payload.step){\n        status.push(2);\n    }\n}\n\nif(!flow.get(\"Dev3.status\")){\n    if(flow.get(\"Dev3.stepStatus\") == msg.payload.step){\n        status.push(3);\n    }\n}\n\nmsg.devStatus = status;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1200,"wires":[["90a8904d.2c47b8"]]},{"id":"90a8904d.2c47b8","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"reply","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload.devices","pt":"msg","to":"devStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1200,"wires":[["b81e3b6e.4016b8"]]},{"id":"1b72a1c.dff5ede","type":"mqtt in","z":"958f9ab7.f61268","name":"","topic":"LT/deactivation/write","qos":"0","datatype":"json","broker":"b700a1d5.e877","x":250,"y":400,"wires":[["95ae08b4.f1654","213fc1c1.0c9bee"]]},{"id":"9aa76df6.39645","type":"mqtt out","z":"958f9ab7.f61268","name":"","topic":"LT/deactivation/reply","qos":"0","retain":"false","broker":"b700a1d5.e877","x":760,"y":400,"wires":[]},{"id":"95ae08b4.f1654","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"reply","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[["9aa76df6.39645"]]},{"id":"a533151e.9a5c4","type":"function","z":"958f9ab7.f61268","name":"Modbus","func":"//var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': flow.get(\"Dev2.command\"), \n    'fc': 5, \n    'unitid': 101, \n    'address': 20,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2180,"wires":[["33af684.de76b18"]]},{"id":"33af684.de76b18","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":2180,"wires":[["7832b0af.9b9608"]]},{"id":"6cbf7a6.f772604","type":"function","z":"958f9ab7.f61268","name":"Modbus","func":"//var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': flow.get(\"Dev3.command\"), \n    'fc': 5, \n    'unitid': 101, \n    'address': 30,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2300,"wires":[["df29fde5.29019"]]},{"id":"df29fde5.29019","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":2300,"wires":[["7832b0af.9b9608"]]},{"id":"61446f9.f19e89","type":"function","z":"958f9ab7.f61268","name":"Modbus","func":"//var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': flow.get(\"Dev1.step\"), \n    'fc': 6, \n    'unitid': 101, \n    'address': 12,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2100,"wires":[["b7c47f54.bcdc18"]]},{"id":"b7c47f54.bcdc18","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":2100,"wires":[["7832b0af.9b9608"]]},{"id":"cfd51e99.72b4e","type":"function","z":"958f9ab7.f61268","name":"Modbus","func":"//var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': flow.get(\"Dev2.step\"), \n    'fc': 6, \n    'unitid': 101, \n    'address': 22,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2220,"wires":[["9efe5147.475f28"]]},{"id":"9efe5147.475f28","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":2220,"wires":[["7832b0af.9b9608"]]},{"id":"c4cb4af9.17ead","type":"function","z":"958f9ab7.f61268","name":"Modbus","func":"//var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': flow.get(\"Dev3.step\"), \n    'fc': 6, \n    'unitid': 101, \n    'address': 32,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2340,"wires":[["1ef82dc.1fdb5d2"]]},{"id":"1ef82dc.1fdb5d2","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":2340,"wires":[["7832b0af.9b9608"]]},{"id":"ca81108b.ffe49","type":"comment","z":"958f9ab7.f61268","name":"Heartbeat: set Environment Vaiables for modbus address","info":"","x":590,"y":180,"wires":[]},{"id":"f57621bb.ab08b8","type":"comment","z":"958f9ab7.f61268","name":"Reset everything on restart / deploy","info":"","x":760,"y":80,"wires":[]},{"id":"b1da831e.0848f","type":"comment","z":"958f9ab7.f61268","name":"Reply to activation / deactivation requests","info":"","x":1060,"y":340,"wires":[]},{"id":"abcaf7ea.d29438","type":"comment","z":"958f9ab7.f61268","name":"force reset of device commands","info":"","x":1150,"y":540,"wires":[]},{"id":"9a8bead8.682ee8","type":"comment","z":"958f9ab7.f61268","name":"set command flags for devices","info":"","x":1140,"y":720,"wires":[]},{"id":"7404f373.bd6f44","type":"comment","z":"958f9ab7.f61268","name":"Reply to start commands","info":"","x":1470,"y":840,"wires":[]},{"id":"7f319c94.fea934","type":"comment","z":"958f9ab7.f61268","name":"reset command flags for devices","info":"","x":1150,"y":1080,"wires":[]},{"id":"802a11df.20fb38","type":"comment","z":"958f9ab7.f61268","name":"Reply to stop commands","info":"","x":1470,"y":1200,"wires":[]},{"id":"d41142a9.dd35c8","type":"comment","z":"958f9ab7.f61268","name":"read device status from devices on Modbus","info":"","x":920,"y":1500,"wires":[]},{"id":"e85a9495.9cf22","type":"comment","z":"958f9ab7.f61268","name":"Write commands and steps to devices on Modbus","info":"","x":1480,"y":2200,"wires":[]},{"id":"497f152a.debac4","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[[]]},{"id":"1e930d03.e9975b","type":"trigger","z":"958f9ab7.f61268","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":1440,"wires":[["497f152a.debac4"]]},{"id":"27e062a4.03a0fe","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev2.status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1580,"wires":[[]]},{"id":"6bc950.ce644eb","type":"trigger","z":"958f9ab7.f61268","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":1580,"wires":[["27e062a4.03a0fe"]]},{"id":"87943f91.8e33e","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev3.status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1740,"wires":[[]]},{"id":"ce4a7bf1.901eb","type":"trigger","z":"958f9ab7.f61268","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":1740,"wires":[["87943f91.8e33e"]]},{"id":"8d4d5cb9.7df8d","type":"modbus-read","z":"958f9ab7.f61268","name":"Dev1","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"101","dataType":"HoldingRegister","adr":"13","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1360,"wires":[["7a36aa91.0a85ec"],[]]},{"id":"f78fe5c2.85f4e","type":"modbus-read","z":"958f9ab7.f61268","name":"Dev2","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"101","dataType":"HoldingRegister","adr":"23","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1500,"wires":[["a99c4aca.cdaec8"],[]]},{"id":"e7ae9b4d.7eb7b8","type":"modbus-read","z":"958f9ab7.f61268","name":"Dev3","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"101","dataType":"HoldingRegister","adr":"33","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1660,"wires":[["bb4d8153.20e55"],[]]},{"id":"7a36aa91.0a85ec","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":1360,"wires":[["78868c84.7a999c"]]},{"id":"a99c4aca.cdaec8","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":1500,"wires":[["6ea54f6c.16adf8"]]},{"id":"78868c84.7a999c","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev1.stepStatus","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1360,"wires":[[]]},{"id":"6ea54f6c.16adf8","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev2.stepStatus","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1500,"wires":[[]]},{"id":"bb4d8153.20e55","type":"rbe","z":"958f9ab7.f61268","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":1660,"wires":[["62ba886.d144af8"]]},{"id":"62ba886.d144af8","type":"change","z":"958f9ab7.f61268","name":"","rules":[{"t":"set","p":"Dev3.stepStatus","pt":"flow","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1660,"wires":[[]]},{"id":"91131bcb.4f6e28","type":"debug","z":"958f9ab7.f61268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":900,"wires":[]},{"id":"dfcd8221.5f54e8","type":"debug","z":"958f9ab7.f61268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":880,"wires":[]}]
