SC_Nordic/Flow
[{"id":"23446985.ae3136","type":"subflow","name":"Subflow 3","info":"","in":[],"out":[]},{"id":"476fdf3.a20cda","type":"mqtt in","z":"23446985.ae3136","name":"","topic":"${writeTopic}","qos":"0","datatype":"json","broker":"b700a1d5.e877","x":250,"y":280,"wires":[["a5385dbf.1f8b68","fc72c0f1.1ed528","55b7806f.bb58b"]]},{"id":"a5385dbf.1f8b68","type":"switch","z":"23446985.ae3136","name":"Command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["353011a.3fb2e6e"],["22437413.40f274"]]},{"id":"353011a.3fb2e6e","type":"change","z":"23446985.ae3136","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":260,"wires":[["7f36150f.7acca4"]]},{"id":"22437413.40f274","type":"change","z":"23446985.ae3136","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["7f36150f.7acca4"]]},{"id":"7f36150f.7acca4","type":"function","z":"23446985.ae3136","name":"Modbus","func":"var UNIT = env.get(\"modbusAdd\");;\n\nmsg.payload = { \n    'value': msg.payload, \n    'fc': 5, \n    'unitid': UNIT, \n    'address': 3,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":280,"wires":[["c269cc44.570658"]]},{"id":"c269cc44.570658","type":"modbus-flex-write","z":"23446985.ae3136","name":"","showStatusActivities":false,"showErrors":false,"server":"2043f56b.c0f832","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1210,"y":280,"wires":[[],[]]},{"id":"fc72c0f1.1ed528","type":"function","z":"23446985.ae3136","name":"StoreId","func":"var top = msg.topic;\n\nflow.set(top, msg.payload.id);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":320,"wires":[[]]},{"id":"3fa2179a.86a92","type":"modbus-read","z":"23446985.ae3136","name":"CommandReturn","topic":"returnValue","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"${modbusAdd}","dataType":"Coil","adr":"20","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":320,"y":440,"wires":[["9cbe97c2.5c4468"],[]]},{"id":"c8add220.7fc028","type":"mqtt out","z":"23446985.ae3136","name":"","topic":"${replyTopic}","qos":"0","retain":"false","broker":"b700a1d5.e877","x":1210,"y":440,"wires":[]},{"id":"e803c092.c2482","type":"function","z":"23446985.ae3136","name":"","func":"let topic = env.get(\"writeTopic\");\n\nif(msg.topic == \"returnValue\"){\n    context.value = msg.payload;\n}\n\n\nif(msg.topic != \"returnValue\") {\n    \n    \n    if(context.value){\n        status = true;\n        cmd = \"ON\";\n    }\n    \n    if(!context.value) {\n        status = true;\n        cmd = \"OFF\";\n    }\n    \n    if(msg.payload) \n    \n    msg.payload = {  \n        \"id\": flow.get(topic),\n        \"status\": status,  \n        \"command\": cmd\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":440,"wires":[["c8add220.7fc028"]]},{"id":"55b7806f.bb58b","type":"delay","z":"23446985.ae3136","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":360,"wires":[["e803c092.c2482"]]},{"id":"3a894b7d.00d75c","type":"change","z":"23446985.ae3136","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":440,"wires":[["e803c092.c2482","9a794d80.a39718"]]},{"id":"9cbe97c2.5c4468","type":"rbe","z":"23446985.ae3136","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":520,"y":440,"wires":[["3a894b7d.00d75c"]]},{"id":"9a794d80.a39718","type":"debug","z":"23446985.ae3136","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":540,"wires":[]},{"id":"c7fce151.9f0058","type":"function","z":"23446985.ae3136","name":"","func":"let site = env.get(\"site\");\nlet anl = env.get(\"anl\");\n\nflow.set(\"writeTopic\", \"COOP/\"+site+\"/\"+anl+\"/write\" );\nflow.set(\"replyTopic\", \"COOP/\"+site+\"/\"+anl+\"/reply\" );\nflow.set(\"statusTopic\", \"COOP/\"+site+\"/\"+anl+\"/status\" );","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":100,"wires":[[]]},{"id":"8d254885.45d1b8","type":"inject","z":"23446985.ae3136","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":100,"wires":[["c7fce151.9f0058"]]},{"id":"d404d6b5.5c436","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"58868aca.8da3ac","type":"comment","z":"d404d6b5.5c436","name":"Hearbeat","info":"## SC Controller would publish heartbeat at an interval of less than 1 minute.\n\n - Topic: {customer_code}/heartbeat\n - Message: `{\"timeStamp\": \"2023-07-03T09:57:20.480441Z\"} (UTC)`\n\n## Client system should publish a heartbeat at an interval of less than 1 minute.\n - Topic: {customer_code}/alive\n - Message: `{\"timeStamp\": \"2023-07-03T09:57:20.480441Z\"} (UTC)`","x":280,"y":220,"wires":[]},{"id":"6653827f.f02eec","type":"mqtt in","z":"d404d6b5.5c436","name":"","topic":"COOP/heartbeat","qos":"0","datatype":"auto","broker":"b700a1d5.e877","x":320,"y":280,"wires":[["8a9a3199.5b396"]]},{"id":"7b30e972.85895","type":"mqtt out","z":"d404d6b5.5c436","name":"","topic":"COOP/alive","qos":"1","retain":"false","broker":"b700a1d5.e877","x":950,"y":360,"wires":[]},{"id":"2a9fc250.fc5ec6","type":"function","z":"d404d6b5.5c436","name":"","func":"var date = new Date();\nvar time = date.toISOString();\n\nmsg.payload = {\n    \"timeStamp\": time\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":360,"wires":[["7b30e972.85895"]]},{"id":"8a9a3199.5b396","type":"trigger","z":"d404d6b5.5c436","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":550,"y":280,"wires":[["324504ae.9395b4"]]},{"id":"334f6223.9fdbe6","type":"modbus-flex-write","z":"d404d6b5.5c436","name":"","showStatusActivities":false,"showErrors":false,"server":"2043f56b.c0f832","emptyMsgOnFail":false,"keepMsgProperties":false,"x":970,"y":280,"wires":[[],[]]},{"id":"4fec61c2.2c72e8","type":"modbus-queue-info","z":"d404d6b5.5c436","name":"","topic":"","unitid":"100","queueReadIntervalTime":"500","lowLowLevel":25,"lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"2043f56b.c0f832","errorOnHighLevel":false,"showStatusActivities":true,"updateOnAllQueueChanges":false,"updateOnAllUnitQueues":false,"x":690,"y":60,"wires":[[]]},{"id":"324504ae.9395b4","type":"function","z":"d404d6b5.5c436","name":"Modbus","func":"var UNIT = 100;\n\nmsg.payload = { \n    'value': msg.payload, \n    'fc': 5, \n    'unitid': UNIT, \n    'address': 1,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["334f6223.9fdbe6"]]},{"id":"3b503512.58ddb2","type":"modbus-read","z":"d404d6b5.5c436","name":"Alive","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"100","dataType":"InputRegister","adr":"2","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":350,"y":360,"wires":[["83a89f83.c26068"],[]]},{"id":"83a89f83.c26068","type":"rbe","z":"d404d6b5.5c436","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":360,"wires":[["2a9fc250.fc5ec6"]]},{"id":"c2c7e173.e0afb8","type":"comment","z":"d404d6b5.5c436","name":"Control Integration","info":"## The system constantly monitors the frequency value at a precise interval. As the frequency deviates, we trigger an activation as MQTT commands:\n\ntopic: {customer_code}/{device_id}/write  \n`Message:  \n{  \n    \"id\": \"e59e4864-5005-43fc-9855-c2f9a095d8fa\" (unique uuid),  \n    \"interval\":1,  \n    \"steps\":1,  \n    \"command\": \"ON\" (ON/OFF)  \n}`\n\n## The system expects the integrator to react and control the system on command. It also expects an acknowledgement in the following topic and format:\n\nTopic: {customer_code}/{device_id}/reply  \nMessage:  \n{  \n    Id: \"e59e4864-5005-43fc-9855-c2f9a095d8fa\" (UUID send in the command)  \n    Status: true (true if the command was accepted else false)  \n    Command: \"ON\" (The command sent by the system)  \n}\n\n## Once the frequency moves back to the safe range, we send out an OFF command in the above format.","x":310,"y":520,"wires":[]},{"id":"f62e38f6.3074e8","type":"subflow:23446985.ae3136","z":"d404d6b5.5c436","name":"TEST","env":[{"name":"modbusAdd","value":"100","type":"num"},{"name":"writeTopic","value":"COOP/2020/VEN01/write","type":"str"},{"name":"replyTopic","value":"COOP/2020/VEN01/reply","type":"str"},{"name":"statusTopic","value":"COOP/2020/VEN01/status","type":"str"}],"x":310,"y":580,"wires":[]},{"id":"b700a1d5.e877","type":"mqtt-broker","name":"","broker":"test.ka9n.dk","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2043f56b.c0f832","type":"modbus-client","name":"JACE","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.23.10","tcpPort":"5021","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"0","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false}]
