SC_Nordic/Flow
[{"id":"7dbb1f19.0d8428","type":"subflow","name":"Subflow 4 (3)","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"fbb9f648.e8cdb","type":"mqtt in","z":"7dbb1f19.0d8428","name":"","topic":"${heartbeatTopic}","qos":"0","datatype":"auto","broker":"b700a1d5.e877","x":200,"y":80,"wires":[["7fd2e9ff.c2d188"]]},{"id":"ffb053f.fe46bb","type":"mqtt out","z":"7dbb1f19.0d8428","name":"","topic":"${aliveTopic}","qos":"1","retain":"false","broker":"b700a1d5.e877","x":830,"y":160,"wires":[]},{"id":"2f6786a5.1ea4c2","type":"function","z":"7dbb1f19.0d8428","name":"","func":"var date = new Date();\nvar time = date.toISOString();\n\nmsg.payload = {\n    \"timeStamp\": time\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":160,"wires":[["ffb053f.fe46bb"]]},{"id":"7fd2e9ff.c2d188","type":"trigger","z":"7dbb1f19.0d8428","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":80,"wires":[["35c0643e.427874"]]},{"id":"faeb526e.9c18d","type":"modbus-flex-write","z":"7dbb1f19.0d8428","name":"","showStatusActivities":false,"showErrors":false,"server":"2043f56b.c0f832","emptyMsgOnFail":false,"keepMsgProperties":false,"x":850,"y":80,"wires":[[],[]]},{"id":"7a25b1bb.e98898","type":"modbus-queue-info","z":"7dbb1f19.0d8428","name":"","topic":"","unitid":"${modbusAdd}","queueReadIntervalTime":"500","lowLowLevel":25,"lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"2043f56b.c0f832","errorOnHighLevel":false,"showStatusActivities":true,"updateOnAllQueueChanges":false,"updateOnAllUnitQueues":false,"x":1090,"y":120,"wires":[[]]},{"id":"35c0643e.427874","type":"function","z":"7dbb1f19.0d8428","name":"Modbus","func":"var UNIT = env.get(\"modbusAdd\");\n\nmsg.payload = { \n    'value': msg.payload, \n    'fc': 5, \n    'unitid': UNIT, \n    'address': 1,\n    'quantity': 1\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[["faeb526e.9c18d"]]},{"id":"9b8dc8a2.1a768","type":"modbus-read","z":"7dbb1f19.0d8428","name":"Alive","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"${modbusAdd}","dataType":"InputRegister","adr":"2","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2043f56b.c0f832","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":230,"y":160,"wires":[["859493d3.b57fa8"],[]]},{"id":"859493d3.b57fa8","type":"rbe","z":"7dbb1f19.0d8428","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":160,"wires":[["2f6786a5.1ea4c2"]]},{"id":"b700a1d5.e877","type":"mqtt-broker","name":"","broker":"mqtt.scnordic.com","port":"1886","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2043f56b.c0f832","type":"modbus-client","name":"JACE","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.23.10","tcpPort":"5021","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"0","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"90d2b1e7.3a0408","type":"subflow:7dbb1f19.0d8428","z":"958f9ab7.f61268","name":"Heartbeat","env":[{"name":"heartbeatTopic","value":"COOP/heartbeat","type":"str"},{"name":"aliveTopic","value":"LT/heartbeat","type":"str"},{"name":"modbusAdd","value":"100","type":"num"}],"x":280,"y":180,"wires":[],"icon":"font-awesome/fa-heartbeat","info":"## SC Controller would publish heartbeat at an interval of less than 1 minute.\n\n - Topic: {customer_code}/heartbeat\n - Message: `{\"timeStamp\": \"2023-07-03T09:57:20.480441Z\"} (UTC)`\n\n## Client system should publish a heartbeat at an interval of less than 1 minute.\n - Topic: {customer_code}/alive\n - Message: `{\"timeStamp\": \"2023-07-03T09:57:20.480441Z\"} (UTC)`"}]
